##
## Resources downloaded by maven plugin
##

lutra-core/src/main/resources/puntypes\.owl\.ttl
lutra-core/src/main/resources/types\.owl\.ttl
lutra-wottr/src/test/resources/spec/core-grammar\.shacl\.ttl
lutra-wottr/src/test/resources/spec/core-vocabulary\.owl\.ttl


##
## Test files downloaded by maven plugin
##

lutra-wottr/src/test/resources/spec/examples/*\.ttl
lutra-wottr/src/test/resources/spec/tests/correct/*\.ttl
lutra-wottr/src/test/resources/spec/tests/incorrect/*\.ttl


##
## Java
##

## Directories
target/
bin/

*.class

## Package Files
*.jar
*.war
*.ear

## Log files
*.log
*.log.*

## Test output
*.out

## checks
*.pmd*



##
## Eclipse
##

.project
.classpath
.metadata
.settings/

## Locally stored "Eclipse launch configurations"
*.launch

## Files that might appear on external disk
.Spotlight-V100

## Mobile Tools for Java (J2ME)
.mtj.tmp/

## virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



##
## IntelliJ IDEA
##

.idea
*.iws
*.iml
*.ipr


##
## NetBeans
##
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/




##
## Windows
##

## Windows image file caches
Thumbs.db

## Folder config file
Desktop.ini



##
## OSX
##

.DS_Store
.svn

## Thumbnails
._*

*.xml#

lutra-cli/dependency-reduced-pom\.xml

lutra-stottr/src/main/antlr4/stOTTR\.g4

lutra-stottr/src/main/antlr4/imports/Turtle\.g4

lutra-stottr/src/test/resources/.temp-deploy/

lutra-cli/src/test/resources/.temp-deploy/

lutra-cli/src/test/resources/primer/
