.treeview {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.treeview ul {
  display: none;
  list-style-type: none;
}

ul.active {
  display: block;
}

.template, .baseTemplate {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  background-color: transparent;
}

.template {
  cursor: pointer;
}

.baseTemplate {
  cursor: default;
}

.template::before, .baseTemplate::before {
  color: #a04000;
  display: inline-block;
  margin-right: 3px;
}

.baseTemplate::before {
  content: "\2022";
}

.template::before {
  content: "\25B6";
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}

